<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <!-- Logo -->
        <a class="navbar-brand me-5 fs-3 fw-bold d-flex align-items-center" href="/movies">
            <!-- 🎬 <span class="ms-2">Filmbox</span> -->
            <img src="../assets/logos/filmbox.png" class="logo" alt="logo">
        </a>

        <!-- SearchBar-->
        <app-search></app-search>

        <!-- Burger menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Buttons -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item me-5">
                    <a class="btn btn-outline-light" href="#">Zaloguj się</a>
                </li>
                <li class="nav-item ms-1">
                    <a class="btn btn-outline-warning" routerLink="/admin">Panel Admina</a>
                </li>
                <li class="nav-item ms-1 me-2">
                    <a class="btn btn-outline-light" routerLink="/movies">Filmy</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-light" routerLink="/screenings">Seanse</a>
                </li>
            </ul>
        </div>
    </div>
</nav>