<div *ngIf="sortedDates.length === 0">
  <p>Brak zaplanowanych seansów.</p>
</div>

<div class="accordion  mt-3" id="screeningAccordion" *ngIf="sortedDates.length > 0">
  <div class="accordion-item " *ngFor="let date of sortedDates; let i = index">
    <h2 class="accordion-header" [id]="'heading' + i">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        [attr.data-bs-target]="'#collapse' + i"
        [attr.aria-expanded]="i === 0"
        [attr.aria-controls]="'collapse' + i"
      >
        {{ getFormattedDate(date) }}
      </button>
    </h2>
    <div
      [id]="'collapse' + i"
      class="accordion-collapse collapse"
      [class.show]="i === 0"
      [attr.aria-labelledby]="'heading' + i"
      
    >
      <div class="accordion-body">
        <div *ngFor="let screening of groupedScreenings[date]" class="d-flex align-items-center mb-3 border-bottom pb-2">
          <img [src]="getPosterFullUrl(screening.movie.posterUrl)" alt="{{ screening.movie.title }}" class="me-3" style="width: 60px; height: auto;">
          <div>
            <h6 class="mb-0">{{ screening.movie.title }}</h6>
            <small>Godzina: {{ screening.screeningTime | date: 'HH:mm' }} | {{ screening.cinemaHall.name }}</small><br />
            <a [routerLink]="['/movies', screening.movie.id]" class="btn btn-sm btn-outline-primary mt-1 me-2">Szczegóły filmu</a>
            <button class="btn btn-sm btn-success mt-1" (click)="onReserve(screening.id)">Rezerwuj</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
