/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  font-size: 80%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url("assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.05); /* <- zmieniaj ten parametr */
  z-index: -1;
}

app-root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-content {
  flex: 1 0 auto;
}

.logo {
  max-height: 30px;
}

.custom-search {
  width: 400px;
  max-width: 100%;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
